.u-section-1 .u-sheet-1 {
  min-height: 184px;
}

.u-section-1 .u-text-1 {
  font-family: "Lexend Deca";
  font-size: 6rem;
  margin: 30px auto 0;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 140px;
  margin: -122px auto 0 48px;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 141px;
  margin: -140px 48px 30px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 {
  min-height: 878px;
}

.u-section-2 .u-shape-1 {
  height: 828px;
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -828px auto 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 818px;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 340px;
  min-height: 226px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-text-1 {
  font-family: "Lexend Deca";
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-family: "Lexend Deca";
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 340px;
  min-height: 226px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-2 .u-text-3 {
  font-family: "Lexend Deca";
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-family: "Lexend Deca";
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  width: 340px;
  min-height: 226px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-2 .u-text-5 {
  font-family: "Lexend Deca";
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-family: "Lexend Deca";
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-group-4 {
  width: 340px;
  min-height: 226px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-2 .u-text-7 {
  font-family: "Lexend Deca";
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-8 {
  font-family: "Lexend Deca";
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-group-5 {
  width: 340px;
  min-height: 226px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 10px;
}

.u-section-2 .u-text-9 {
  font-family: "Lexend Deca";
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-10 {
  font-family: "Lexend Deca";
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-group-6 {
  width: 340px;
  min-height: 226px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 10px;
}

.u-section-2 .u-text-11 {
  font-family: "Lexend Deca";
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-12 {
  font-family: "Lexend Deca";
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 0;
}

.u-section-2 .u-group-7 {
  width: 340px;
  min-height: 226px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-14 {
  padding: 0 10px;
}

.u-section-2 .u-text-13 {
  font-family: "Lexend Deca";
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-14 {
  font-family: "Lexend Deca";
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 0;
}

.u-section-2 .u-group-8 {
  width: 340px;
  min-height: 226px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-16 {
  padding: 0 10px;
}

.u-section-2 .u-text-15 {
  font-family: "Lexend Deca";
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-16 {
  font-family: "Lexend Deca";
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-container-layout-17 {
  padding: 0;
}

.u-section-2 .u-group-9 {
  width: 340px;
  min-height: 226px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-18 {
  padding: 0 10px;
}

.u-section-2 .u-text-17 {
  font-family: "Lexend Deca";
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-18 {
  font-family: "Lexend Deca";
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 1420px);
  height: 20px;
  margin: 40px calc(((100% - 1140px) / 2) + -280px) 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: 940px;
    margin-top: -138px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: -690px;
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    min-height: 674px;
  }

  .u-section-2 .u-group-1 {
    margin-left: -13px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    margin-left: -13px;
    height: auto;
  }

  .u-section-2 .u-group-3 {
    margin-left: -13px;
    height: auto;
  }

  .u-section-2 .u-text-5 {
    width: 300px;
    margin-top: -206px;
  }

  .u-section-2 .u-group-4 {
    margin-left: -13px;
    height: auto;
  }

  .u-section-2 .u-text-7 {
    width: 300px;
    margin-top: -206px;
  }

  .u-section-2 .u-group-5 {
    margin-left: -13px;
    height: auto;
  }

  .u-section-2 .u-text-9 {
    width: 300px;
    margin-top: -206px;
  }

  .u-section-2 .u-group-6 {
    margin-left: -13px;
    height: auto;
  }

  .u-section-2 .u-text-11 {
    width: 300px;
    margin-top: -206px;
  }

  .u-section-2 .u-group-7 {
    margin-left: -13px;
    height: auto;
  }

  .u-section-2 .u-text-13 {
    width: 300px;
    margin-top: -206px;
  }

  .u-section-2 .u-group-8 {
    margin-left: -13px;
    height: auto;
  }

  .u-section-2 .u-text-15 {
    width: 300px;
    margin-top: -206px;
  }

  .u-section-2 .u-group-9 {
    margin-left: -13px;
    height: auto;
  }

  .u-section-2 .u-text-17 {
    width: 300px;
    margin-top: -206px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: 720px;
    margin-top: 473px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: -1301px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1291px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-4 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-5 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-6 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-7 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-8 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-9 {
    margin-left: 10px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-top: 1196px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -2024px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: -26px;
    margin-left: 100px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 100px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 100px;
  }

  .u-section-2 .u-group-4 {
    margin-left: 100px;
  }

  .u-section-2 .u-group-5 {
    margin-left: 100px;
  }

  .u-section-2 .u-group-6 {
    margin-left: 100px;
  }

  .u-section-2 .u-group-7 {
    margin-left: 100px;
  }

  .u-section-2 .u-group-8 {
    margin-left: 100px;
  }

  .u-section-2 .u-group-9 {
    margin-left: 100px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    margin-left: auto;
  }

  .u-section-2 .u-group-4 {
    margin-left: auto;
  }

  .u-section-2 .u-group-5 {
    margin-left: auto;
  }

  .u-section-2 .u-group-6 {
    margin-left: auto;
  }

  .u-section-2 .u-group-7 {
    margin-left: auto;
  }

  .u-section-2 .u-group-8 {
    margin-left: auto;
  }

  .u-section-2 .u-group-9 {
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-3 {
  min-height: 572px;
}

.u-section-3 .u-text-1 {
  font-family: "Lexend Deca";
  font-size: 6rem;
  margin: 20px 253px 0;
}

.u-section-3 .u-text-2 {
  font-family: "Lexend Deca";
  font-size: 2.75rem;
  margin: 20px 80px 0;
}

.u-section-3 .u-text-3 {
  font-family: "Lexend Deca";
  margin: 20px 80px 0;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 1420px);
  height: 20px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 173px);
    margin-right: calc(((100% - 940px) / 2) + 173px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 173px);
    margin-right: calc(((100% - 720px) / 2) + 173px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 173px);
    margin-right: calc(((100% - 540px) / 2) + 173px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2) + 109px);
    margin-right: calc(((100% - 340px) / 2) + 109px);
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }
}.u-section-4 {
  min-height: 577px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1300px;
  margin: 0 calc(((100% - 1140px) / 2) + -160px) 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 557px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-family: "Lexend Deca";
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: "Lexend Deca";
  width: 440px;
  margin: 28px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 557px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-shape-1 {
  width: 606px;
  height: 228px;
  margin: 0 auto 0 10px;
}

.u-section-4 .u-shape-2 {
  width: 606px;
  height: 168px;
  margin: -96px auto 0 10px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 239px;
  margin: -239px auto 0 46px;
}

.u-section-4 .u-shape-3 {
  width: calc(((100% - 1140px) / 2) + 1420px);
  height: 20px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 423px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 289px;
  }

  .u-section-4 .u-text-2 {
    width: 410px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-4 .u-shape-1 {
    width: 564px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 564px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 564px;
    height: 237px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-3 {
    width: calc(((100% - 940px) / 2) + 940px);
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 120px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-4 .u-text-2 {
    width: 300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 221px;
  }

  .u-section-4 .u-shape-1 {
    width: 432px;
  }

  .u-section-4 .u-shape-2 {
    width: 432px;
  }

  .u-section-4 .u-image-1 {
    width: 432px;
    height: 182px;
  }

  .u-section-4 .u-shape-3 {
    width: calc(((100% - 720px) / 2) + 720px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-4 .u-shape-3 {
    width: calc(((100% - 540px) / 2) + 540px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 143px;
  }

  .u-section-4 .u-shape-3 {
    width: calc(((100% - 340px) / 2) + 340px);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 316px;
}

.u-section-5 .u-text-1 {
  font-family: "Lexend Deca";
  font-size: 4.5rem;
  width: 634px;
  margin: 21px auto 0;
}

.u-section-5 .u-text-2 {
  font-family: "Lexend Deca";
  font-size: 2.75rem;
  margin: 20px 0 21px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 196px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-group-1 {
  width: 323px;
  min-height: 121px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  font-family: "Lexend Deca";
  background-image: none;
  font-size: 1.875rem;
  margin: 0 12px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 196px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 14px;
}

.u-section-6 .u-image-1 {
  width: 210px;
  height: 205px;
  margin: 0 auto -9px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 407px;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-rotation-parent-1 {
  width: 64px;
  height: 64px;
  margin: -26px 100px 0 auto;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
}

.u-section-6 .u-rotation-parent-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 100px;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
}

.u-section-6 .u-group-2 {
  width: 266px;
  min-height: 340px;
  margin: 7px auto 0 16px;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 6px;
}

.u-section-6 .u-text-2 {
  font-family: "Lexend Deca";
  font-size: 1.875rem;
  margin: 0;
}

.u-section-6 .u-group-3 {
  width: 269px;
  min-height: 340px;
  margin: -341px 16px 0 auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-family: "Lexend Deca";
  font-size: 1.875rem;
  margin: 0 15px 0 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 442px;
}

.u-section-6 .u-container-layout-7 {
  padding: 0;
}

.u-section-6 .u-rotation-parent-3 {
  width: 64px;
  height: 64px;
  margin: 21px auto 0 103px;
}

.u-section-6 .u-icon-3 {
  width: 64px;
  height: 64px;
}

.u-section-6 .u-rotation-parent-4 {
  width: 64px;
  height: 64px;
  margin: -64px 103px 0 auto;
}

.u-section-6 .u-icon-4 {
  width: 64px;
  height: 64px;
}

.u-section-6 .u-image-2 {
  width: 210px;
  height: 200px;
  margin: 30px auto 0 23px;
}

.u-section-6 .u-image-3 {
  width: 210px;
  height: 200px;
  margin: -200px 30px 0 auto;
}

.u-section-6 .u-rotation-parent-5 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0 118px;
}

.u-section-6 .u-icon-5 {
  width: 64px;
  height: 64px;
}

.u-section-6 .u-rotation-parent-6 {
  width: 64px;
  height: 64px;
  margin: -64px 114px 0 auto;
}

.u-section-6 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin-right: 118px;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 411px;
}

.u-section-6 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-6 .u-rotation-parent-7 {
  width: 64px;
  height: 64px;
  margin: -35px 115px 0 auto;
}

.u-section-6 .u-icon-7 {
  width: 64px;
  height: 64px;
}

.u-section-6 .u-group-4 {
  width: 406px;
  min-height: 303px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-9 {
  padding: 7px 15px;
}

.u-section-6 .u-text-4 {
  font-family: "Lexend Deca";
  font-size: 1.875rem;
  margin: 0;
}

.u-section-6 .u-rotation-parent-8 {
  width: 64px;
  height: 64px;
  margin: -374px auto 0 115px;
}

.u-section-6 .u-icon-8 {
  width: 64px;
  height: 64px;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 411px;
}

.u-section-6 .u-container-layout-10 {
  padding: 0 30px;
}

.u-section-6 .u-image-4 {
  width: 210px;
  height: 200px;
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1552px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 162px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 336px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 364px;
  }

  .u-section-6 .u-icon-3 {
    margin: 44px auto 0 119px;
  }

  .u-section-6 .u-icon-4 {
    margin: -86px 126px 0 auto;
  }

  .u-section-6 .u-icon-5 {
    margin: 29px auto 0 128px;
  }

  .u-section-6 .u-icon-6 {
    margin: -23px 114px 0 auto;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 339px;
  }

  .u-section-6 .u-icon-7 {
    margin: -72px 77px 0 auto;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1354px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 124px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 279px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 91px;
  }

  .u-section-6 .u-icon-4 {
    margin-right: 97px;
  }

  .u-section-6 .u-icon-5 {
    margin-left: 98px;
  }

  .u-section-6 .u-icon-6 {
    margin-right: 87px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-group-4 {
    width: 360px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2168px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 156px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 502px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 216px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1739px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 98px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 316px;
  }

  .u-section-6 .u-group-4 {
    width: 320px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 136px;
  }
}