.u-section-1 .u-sheet-1 {
  min-height: 507px;
}

.u-section-1 .u-group-1 {
  min-height: 476px;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-1 .u-text-1 {
  font-family: "Lexend Deca";
  font-size: 6.25rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 33px 24px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 2.25rem;
  border-style: solid;
  font-family: "Lexend Deca";
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  letter-spacing: normal;
  align-self: center;
  margin: 65px auto 0;
  padding: 9px 140px 10px;
}

.u-section-1 .u-image-1 {
  width: 156px;
  height: 156px;
  background-image: url("images/ScreenShot2021-07-20at1.50.22PM.png");
  background-position: 50% 50%;
  margin: -212px auto 0 75px;
}

.u-section-1 .u-image-2 {
  width: 157px;
  height: 157px;
  background-image: url("images/ScreenShot2021-07-20at2.04.35PM.png");
  background-position: 50% 50%;
  margin: -156px 65px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 31px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 28px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 147px;
  }
}.u-section-2 {
  min-height: 1323px;
}

.u-section-2 .u-text-1 {
  font-family: "Lexend Deca";
  font-size: 3.75rem;
  margin: 20px 80px 0;
}

.u-section-2 .u-text-2 {
  font-family: "Lexend Deca";
  font-size: 2.25rem;
  line-height: 1.5;
  margin: 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-shape-1 {
  height: 20px;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-text-3 {
  font-family: "Lexend Deca";
  font-size: 2.25rem;
  text-shadow: 3px 2px 6px rgba(0,0,0,0.15);
  margin: 21px 80px 0;
}

.u-section-2 .u-shape-2 {
  height: 20px;
  margin-bottom: 1px;
  margin-top: 29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-3 {
  min-height: 290px;
}

.u-section-3 .u-sheet-1 {
  min-height: 290px;
}

.u-section-3 .u-text-1 {
  font-family: "Lexend Deca";
  font-size: 6rem;
  margin: 22px 305px 0;
}

.u-section-3 .u-text-2 {
  font-family: "Lexend Deca";
  font-size: 4rem;
  letter-spacing: 15px;
  margin: 28px auto 59px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 206px;
    margin-right: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 234px;
    margin-right: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 176px;
    margin-right: 176px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 155px;
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 111px;
    margin-right: 111px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 98px;
    margin-right: 98px;
  }
}.u-section-4 {
  min-height: 290px;
}

.u-section-4 .u-shape-1 {
  height: 38px;
  width: calc(((100% - 1140px) / 2) + 493px);
  margin: 0 0 0 auto;
}

.u-section-4 .u-shape-2 {
  height: 38px;
  width: calc(((100% - 1140px) / 2) + 117px);
  margin: -38px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1;
  font-family: "Lexend Deca";
  margin: -38px calc(((100% - 1140px) / 2) + 430px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-image-1 {
  width: 176px;
  height: 240px;
  object-position: 29.67% 100%;
  margin: -216px calc(((100% - 1140px) / 2) + 206px) 0 auto;
}

.u-section-4 .u-image-2 {
  width: 176px;
  height: 240px;
  background-image: none;
  margin: -240px calc(((100% - 1140px) / 2)) 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 493px);
  }

  .u-section-4 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 117px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 230px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 206px);
  }

  .u-section-4 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 493px);
  }

  .u-section-4 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 117px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 10px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 10px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 312px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 493px);
    margin-top: 72px;
  }

  .u-section-4 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 117px);
    margin-top: -110px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 492px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 252px;
  }

  .u-section-4 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 117px);
    margin-top: -290px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-5 {
  background-image: none;
  min-height: 290px;
}

.u-section-5 .u-shape-1 {
  height: 38px;
  width: calc(((100% - 1140px) / 2) + 138px);
  margin: 1px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1;
  font-family: "Lexend Deca";
  margin: -39px calc(((100% - 1140px) / 2) + 438px) 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-shape-2 {
  height: 38px;
  width: 588px;
  margin: -180px 0 0 auto;
}

.u-section-5 .u-image-1 {
  width: 176px;
  height: 240px;
  object-position: 100% 100%;
  margin: -38px calc(((100% - 1140px) / 2) + 212px) 0 auto;
}

.u-section-5 .u-image-2 {
  width: 176px;
  height: 240px;
  object-position: 0% 100%;
  margin: -240px calc(((100% - 1140px) / 2)) 50px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 138px);
  }

  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 238px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 212px);
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 138px);
  }

  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 18px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 212px);
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 138px);
  }

  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-shape-2 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 212px);
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 516px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 138px);
  }

  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-shape-2 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + 164px);
  }

  .u-section-5 .u-image-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 340px) / 2) + 164px);
  }
}.u-section-6 {
  min-height: 290px;
}

.u-section-6 .u-shape-1 {
  height: 38px;
  width: calc(((100% - 1140px) / 2) + 194px);
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1;
  font-family: "Lexend Deca";
  margin: -38px calc(((100% - 1140px) / 2) + 501px) 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-shape-2 {
  height: 38px;
  width: 581px;
  margin: -288px 0 0 auto;
}

.u-section-6 .u-image-1 {
  width: 176px;
  height: 240px;
  object-position: 98.2% 100%;
  margin: -38px calc(((100% - 1140px) / 2) + 206px) 0 auto;
}

.u-section-6 .u-image-2 {
  width: 176px;
  height: 240px;
  object-position: 15.04% 100%;
  margin: -240px calc(((100% - 1140px) / 2)) 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 194px);
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 301px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 206px);
  }

  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 194px);
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 81px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-shape-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 81px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 206px);
  }

  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 324px;
  }

  .u-section-6 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 194px);
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-shape-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 206px);
  }

  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 541px;
  }

  .u-section-6 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 194px);
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-shape-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + 164px);
  }

  .u-section-6 .u-image-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 340px) / 2) + 164px);
  }
}